<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Serial Reader</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body class="p-4">
    <div class="container">
        <div class="container border border-dark shadow rounded mb-3 p-3">
            <div class="row">
                <p class="h2 mb-2 text-center">Serial Interface</p>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label for="portSelect" class="form-label">Available COM Ports</label>
                    <select id="portSelect" class="form-select"></select>
                    <button id="connectBtn" class="btn btn-primary mt-2">Connect</button>
                </div>
                <div class="col-md-6">
                    <fieldset class="mb-3" id="readControls" class="form-control" disabled>
                        <div class="row mb-1">
                            <div class="col-md-6">
                                <button id="readButton" class="btn btn-success">Read</button>
                            </div>
                            <div class="col-md-6">
                                <div class="form-check mt-2">
                                    <input class="form-check-input" type="checkbox" id="autoReadCheckbox">
                                    <label class="form-check-label" for="autoReadCheckbox">
                                        Auto Read
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col-md-6">
                                <label for="intervalInput" class="form-label mt-2">Interval (ms)</label>
                            </div>
                            <div class="col-md-6">
                                <input class="form-control col-md-6" type="number" id="intervalInput"
                                    class="form-control" value="1000" min="100">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <button id="commandButton" class="btn btn-success">Send</button>
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" type="text" id="commandInput" placeholder="command">
                            </div>
                        </div>
                    </fieldset>

                </div>
            </div>
            <div class="row">
                <div class="col-12 mb-2">
                    <div class="form-check mt-2">
                        <input class="form-check-input" type="checkbox" id="logCheckbox">
                        <label class="form-check-label" for="logCheckbox">
                            Log
                        </label>
                    </div>
                </div>
                <div class="col-12">
                    <pre id="outputLog" class="bg-light p-3 border rounded d-none"></pre>
                </div>
            </div>
        </div>




        <fieldset class="container border border-dark shadow mb-3 p-3 rounded" disabled id="writeControls">
            <p class="h2 mb-2 text-center">Control</p>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="closedLoopCheckbox">
                        <label class="form-check-label" for="closedLoopCheckbox">
                            Closed Loop
                        </label>
                    </div>
                </div>
                <div class="col-md-10">
                    <fieldset class="row form-inline mb-2" disabled id="targetCurrentWrapper">
                        <div class="input-group">
                            <label for="targetCurrent" class="form-label col-md-4">Current</label>
                            <input type="number" step="0.1" id="targetCurrent" class=" form-control col-md-4" value="1"
                                min="0" max="6.6">
                            <button id="setCurrentButton" class="btn btn-success col-md-4">Set Current</button>
                        </div>
                    </fieldset>
                    <fieldset class="row form-inline" id="targetDutyCycleWrapper">
                        <div class="input-group">
                            <label for="targetDutyCycle" class="form col-md-4">Duty Cycle</label>
                            <input type="number" step="0.5" id="targetDutyCycle" class="form-control col-md-4" value="0"
                                min="0" max="100">
                            <button id="setDutyCycleButton" class="btn btn-success col-md-4">Set Duty Cycle</button>
                        </div>
                    </fieldset>
                </div>
            </div>
            <fieldset class="row form-inline mt-4">
                <div class="input-group">
                    <button id="stopButton" class="btn btn-danger col-md-12">Stop</button>
                </div>
            </fieldset>
        </fieldset>

        <fieldset class="container border border-dark shadow mb-3 p-3 rounded" id="measFields">
            <div class="row">
                <p class="h2 mb-2 text-center">Measurements</p>
            </div>
            <div class="row">
                <div class="col-md-2 mb-3">
                    <label for="inputVoltage" class="form-label text-uppercase small">Input Voltage</label>
                    <input type="text" class="form-control edgy-input" id="inputVoltage" placeholder="-.- V" readonly>
                </div>
                <div class="col-md-2 mb-3">
                    <label for="inputCurrent" class="form-label text-uppercase small">Input Current</label>
                    <input type="text" class="form-control edgy-input" id="inputCurrent" placeholder="-.- A" readonly>
                </div>
                <div class="col-md-2 mb-3">
                    <label for="outputVoltage" class="form-label text-uppercase small">Output Voltage</label>
                    <input type="text" class="form-control edgy-input" id="outputVoltage" placeholder="-.- V" readonly>
                </div>
                <div class="col-md-2 mb-3">
                    <label for="outputCurrent" class="form-label text-uppercase small">Output Current</label>
                    <input type="text" class="form-control edgy-input" id="outputCurrent" placeholder="-.- A" readonly>
                </div>
                <div class="col-md-2 mb-3">
                    <label for="dutyCycle" class="form-label text-uppercase small">Duty Cycle</label>
                    <input type="text" class="form-control edgy-input" id="dutyCycle" placeholder="-.- %" readonly>
                </div>
                <div class="col-md-2 mb-3">
                    <label for="inputFrequency" class="form-label text-uppercase small">Input Frequency</label>
                    <input type="text" class="form-control edgy-input" id="inputFrequency" placeholder="-.- %" readonly>
                </div>
            </div>

        </fieldset>

        <fieldset class="container border border-dark shadow mb-3 p-3 rounded" id="statusFault">
            <div class="row">
                <p class="h2 mb-2 text-center">Status</p>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <p class="h4 mb-2 text-center">Feedback</p>
                    </div>
                    <div id="statusContainer">
                        <span class="badge rounded-pill bg-light text-dark shadow-lg" id="door_sw">Door Switch</span>
                        <span class="badge rounded-pill bg-light text-dark shadow-lg" id="cutout">Cutout</span>
                        <span class="badge rounded-pill bg-light text-dark shadow-lg" id="cont1">Contactor 1</span>
                        <span class="badge rounded-pill bg-light text-dark shadow-lg" id="cont2">Contactor 2</span>
                        <span class="badge rounded-pill bg-light text-dark shadow-lg" id="hb1_rdy">H Bridge 1 ready</span>
                        <span class="badge rounded-pill bg-light text-dark shadow-lg" id="hb2_rdy">H Bridge 2 ready</span>
                        <span class="badge rounded-pill bg-light text-dark shadow-lg" id="hb_sf_en">H Bridge Safe Enable</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <p class="h4 mb-2 text-center">Faults</p>
                    </div>
                    <div id="faultContainer">
                        <span class="badge rounded-pill bg-light text-dark shadow-lg" id="mains_udv">Mains Undervoltage</span>
                        <span class="badge rounded-pill bg-light text-dark shadow-lg" id="bus_ovv">Bus Overvoltage</span>
                        <span class="badge rounded-pill bg-light text-dark shadow-lg" id="ovc1">Overcurrent 1</span>
                        <span class="badge rounded-pill bg-light text-dark shadow-lg" id="ovc2">Overcurrent 2</span>
                        <span class="badge rounded-pill bg-light text-dark shadow-lg" id="hb1_flt">H Bridge 1 Fault</span>
                        <span class="badge rounded-pill bg-light text-dark shadow-lg" id="hb2_flt">H Bridge 2 Fault</span>
                        <span class="badge rounded-pill bg-light text-dark shadow-lg" id="hb1_ovt">H Bridge 1 Over Temp</span>
                        <span class="badge rounded-pill bg-light text-dark shadow-lg" id="hb2_ov2">H Bridge 2 Over Temp</span>
                        <span class="badge rounded-pill bg-light text-dark shadow-lg" id="comm_flt">Communication Fault</span>
                    </div>
                </div>
            </div>
        </fieldset>

        <div class="container border border-dark shadow mb-3 p-3 rounded">
            <div class="row">
                <p class="h2 mb-2 text-center">Live Graphs</p>
            </div>
            <div id="graphContainer" class="row g-4"></div>
        </div>

    </div>

    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>

</html>